.barrasuperior{
    background-color: rgb(71, 161, 177);
}
.nav{
    background-color: rgb(71, 161, 177);
}
.principal{
    background-color: rgb(71, 161, 177);
}
.aside{
    background-color: rgb(71, 161, 177);
}
.footer{
    background-color: rgb(71, 161, 177);
}